body {
	font-family: sans-serif;
}
h1 {
	text-align: center;
	text-transform: uppercase;
}
ul{
	list-style-type: none;
	padding: 0px;
}
li {
	padding: 5px;
	text-align: center;
}
nav li{
	color: white;
	background-color: black;
	margin: 2px;
}
footer ul {
	background-color: lightGrey;
	margin-bottom: 0px;
	font-size: 0px;
}
footer li {
	display: inline-block;
	width: 33.3%;
	font-size: 16px;
	padding: 2% 0%;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	height: 200px;
}
section {
	padding: 5px;
}
section:first-of-type {
	font-size: 1.2em;
}
